.places {
	display: flex;
	flex-direction: column;
}

.places h1, .places h2 {
	font-size: 30px;
}

.places h1 {
	margin-top: 20px;
	text-align: center;
}

.places .cards_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 80px;
}

.places article {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 390px;
	min-height: 740px;
	padding: 20px;
	margin: 20px;
	border: solid 1px #FF5A5F;
	border-radius: 4px;
}

.places .card_header {
	display: flex;
	flex-direction: column;
	margin: 27px 0 20px;
	justify-content: center;
	align-items: center;
	row-gap: 15px;
}

.card_header .price_by_night {
	text-align: center;
	width: 82px;
	height: 82px;
	border: solid 4px #FF5A5F;
	border-radius: 50%;
}

.card_header .price_by_night span {
	font-size: 30px;
	color: #FF5A5F;
	line-height: 77px;
}

.information {
	display: flex;
	justify-content: space-evenly;
	row-gap: 10px;
	align-items: center;
	flex-wrap: wrap;
	border-top: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
	padding: 10px 0;
}

.max_guest, .number_rooms, .max_bathrooms {
	display: inline-block;
	width: 100px;
	text-align: center;
}

.max_guest span {
	background-image: url("../images/icon_group.png");
}

.number_rooms span {
	background-image: url("../images/icon_bed.png");
}

.max_bathrooms span {
	background-image: url("../images/icon_bath.png");
}

.max_guest span, .number_rooms span, .max_bathrooms span {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.user {
	margin: 15px 0;
}

.places .amenities {
	margin-top: 35px;
}

.places .amenities h2, .places .reviews h2 {
	text-align: left;
	font-size: 16px;
	margin-bottom: 14px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 5px;
}

.places .amenities ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	row-gap: 12px;
	padding: 0;
}

.places .amenities li {
	display: flex;
	align-items: center;
	padding: 0;
}

.places .amenities span {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.places .amenities .tv_icon {
	background-image: url("../images/icon_tv.png");
}

.places .amenities .wifi_icon {
	background-image: url("../images/icon_wifi.png");
}

.places .amenities .pet_icon {
	background-image: url("../images/icon_pets.png");
}

.places .amenities p {
	position: relative;
	bottom: -2px;
	padding-left: 10px;
	font-size: 16px;
}

.places .reviews  {
	margin-top: 30px;
}

.places .reviews h2 {
	font-size: 16px;
	margin-bottom: 15px;
}

.places .reviews ul {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	list-style: none;
	padding: 0;
}

.places .reviews li {
	list-style: none;
	padding: 0;
}

.places .reviews h3 {
	font-size: 14px;
	margin-bottom: 4px;
}

/* Tablet */
@media (min-width: 768px) {
	.card_header .price_by_night {
		position: absolute;
		top: 23.5px;
		right: 18px;
	}

	.places .card_header {
		margin: 27px 0 45px;
	}
}

/* Laptop */
@media (min-width: 1024px) {
	.places h1 {
		text-align: left;
		padding-left: 25px;
	}
}